---
title: Bridging Human Concepts and Computer Vision for Explainable Face Verification
author:
  - Miriam Doh
  - Caroline Mazini Rodrigues
  - Nicolas Boutry
  - Laurent Najman
  - Matei Mancas
  - Hugues Bersini
source: https://ceur-ws.org/Vol-3615/paper2.pdf
venue: BEWARE 2023
type: Proceedings Article
created: 2025-02-17
tags:
  - themes/bias
  - tech/Ai
  - themes/ethics
pdfORepub: "[[Bridging Human Concepts and Computer Vision for Explainable Face Verification.pdf]]"
modified: 2026-09-08
---

# Notes

